<meta name="viewport" content="width=device-width, initial-scale=1.0">
<mat-toolbar class="toolbar" color="primary">
  <span>Data Ingestion</span>
  <span class="spacer"></span>
</mat-toolbar>
<div class="content">
  <label for="path">Path: </label>
  <input id="path" type="text" [formControl]="path" style="margin-inline: 5px;">
  <button mat-raised-button color="primary" (click)="getFilepaths()" style="margin-inline: 5px;">Select Data</button>
  <button mat-raised-button color="primary" (click)="postDataSet()" style="margin-inline: 5px;">Post</button>
  <button mat-raised-button color="primary" (click)="getDataSetFromDB()" style="margin-inline: 5px;">Retrieve</button>
</div>