{
  "swagger": "2.0",
  "info": {
    "description": "Test K8s services",
    "version": "1.0.0",
    "title": "Test K8s",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "apiteam@swagger.io"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "ml-toolkit.com",
  "basePath": "/api",
  "tags": [
    {
      "name": "test",
      "description": "Testing k8s services"
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/dataset": {
      "post": {
        "tags": [
          "dataset"
        ],
        "summary": "Post dataset to db",
        "description": "",
        "operationId": "postDataset",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "dataset",
            "description": "Pathnames passed in",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Dataset"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Invalid input"
          }
        }
      },
      "get": {
        "tags": [
          "dataset"
        ],
        "summary": "Get dataset from disk",
        "description": "",
        "operationId": "getFilepaths",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Filepaths"
            }
          },
          "404": {
            "description": "Data not found"
          }
        }
      }
    },
    "/dataset/{name}": {
      "get": {
        "tags": [
          "dataset"
        ],
        "summary": "Get dataset from db",
        "description": "",
        "operationId": "getDataset",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "description": "name of dataset",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Dataset"
            }
          },
          "404": {
            "description": "Data not found"
          }
        }
      }
    }
  },
  "definitions": {
    "Filepaths": {
      "type": "array",
      "items": {
        "type": "string"
      }
    },
    "Dataset": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "filepaths": {
          "$ref": "#/definitions/Filepaths"
        }
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  }
}